<h1>Edit Note</h1>
<%= form_with scope: :note, url: notes_path, local: true do |form| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@note.errors.count, "error") %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :book %><br>
    <%= form.text_field :book %>
  </p>

  <p>
    <%= form.label :chapter %><br>
    <%= form.number_field :chapter %>
  </p>

  <p>
    <%= form.label :start_verse %><br>
    <%= form.number_field :start_verse %>
  </p>

  <p>
    <%= form.label :end_verse %><br>
    <%= form.number_field :end_verse %>
  </p>

  <p>
    <%= form.label :note_text %><br>
    <%= form.text_area :note_text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
